.frame {
    width: 600px;
    float: left;
    height: 800px;
    background-color: #dedede;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 73px;
    margin-right: 73px;
    text-align: center;
}
.sim {
    height: 706px;
}

.framecontainer {
    width: 1500px;
    overflow: hidden;
    margin: auto;
}

.frame select {
    font-size: 16pt;
}

.tools {
    
}

.idcontainer {
    font-size: 16pt;
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #dedede;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
